@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#40D4EB;
    --scondary-color:gold;
    --tree-color:#3677F6;
    --font-arabic:'Changa', sans-serif;
}
#home, #about{
    min-height: 100vh;
}
#about{
    margin-top: 5rem;
}
body{
    background-color: var(--primary-color);
}
.heading{
    color: #fff;
    font-weight: bold;
    font-size: 2.2rem;
    font-family: var(--font-arabic);
}
.br{
    border: 1px solid #333;
}
.container{
    max-width: 50rem;
}
.rtl{
    direction: rtl;
}

ul{
    padding: 1.1rem;
    margin-top: 1.7rem;
    line-height: 1.8;
}
.my-btn{
    color: #fff;
    font-family: var(--font-arabic);
}
.texto{
    margin: 3rem auto;
    background-color: #ccc;
}
.tx-arb{
    line-height: 1.9;
    margin-top: 2rem;
}

.tx-arb .link{
    color: var(--tree-color);
    font-size: 1.7rem;
}
.tx-arb .link:hover{
    color: gold;
}
form{
    position: relative;
    direction: rtl;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;
}
form .error{
    font-size: .7rem;
    font-family: var(--font-arabic);
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}
form #input{
    padding: .3rem 1rem;
    width: 100vw;
    max-width: 60%;
    outline: none;
    border: none;

}
form #input::placeholder{
    color: var(--primary-color);
    font-family: var(--font-arabic);
}
form #input:invalid{
    border-bottom: 2px solid red;
}
form #input:valid{
    border-bottom: 2px solid green;
}
form #send{
    font-family: var(--font-arabic);
    padding: .36rem .5rem;
    outline: none;
    border: none;
    background: gold;
    color: #333;
    transition: .4s linear;
}
form #send:hover{
    
    background: rgb(41, 230, 41);
    color: #fff;
}
.pop-image{
    display: none;
    padding: 1rem;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: gold;
   
}
.pop-image .box{
    background: #fff;
    height: 15rem;
    width: 20rem;
    padding: 1rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.pop-image .box p{
    color: #3677F6;
    font-family: var(--font-arabic);
}
.pop-image .box span{
    font-size: 5rem;
}
@media  screen and (max-width:600px) {
    .container{
        padding: 2rem 1rem !important;
    }
    .book{
        text-align: center;
        margin-bottom: 2rem;
    }
    .tx-arb{
        width: 100% !important;
        font-size: 1.4rem;
        
    }
    #about{
        padding: 0 !important;
        text-align: center;
    }
    .my-btn{
        font-size: 1rem !important;
        text-align: center;
    }
    .pop-image .box{
        width: 15rem;
    }
}